        * {
            margin: 0px;
            padding: 0px;
            font-family: Arial;
        }
        #main1 {
            background-color: #F34657;
            width: 100%;
            height: 50%;
            z-index: -1;
        }
        
        #main2 {
            background-color: #4800FF;
            width: 100%;
            height: 50%;
            z-index: -1;
        }
        
        .txt {
            text-align: center;
            padding: 30px;
            position: absolute;
            border: 5px solid #333;
            background-color: white;
        }
        
        .position {
            margin-left: 24%;
            margin-top: 65%;
        }
        
        .visible {
            display: none;
        }
        
        .win {
            margin-left: 14%;
            margin-top: 65%;
        }
        
        a {
            text-decoration: none;
            color: blue;
        }